h1{
    color: red;
    margin-left: 10px;
}
ol{
    
    width: 162px;
    height: 235px;
    margin-top: 10px;
    margin-left: 91px;
    color: #5F5F5F;

}
img{
    width: 186px;
    height: 109px;
    margin-top: 10px;
    margin-left: 80px;
}
.ww{
    margin-top: 25px;
    margin-left: 30px;
    color: #5B5B5B;
}